<div class="container">
  <div class="header">
    header area
    <nav>
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a [routerLink]="['/about/', book1Name]">About Potter</a>
        </li>
        <li>
          <a [routerLink]="['/about/', book2Name]">About Abd</a>
        </li>
        <li>
          <a routerLink="/contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content-area">
    <router-outlet></router-outlet> 
  </div>
  <div class="footer">
    footer area
  </div>
  
</div>
